<!DOCTYPE html>
<html lang="en" class="h-webkit-fill inter-font scroll-smooth">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../styles/output.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Oh lala Club</title>
</head>
<body class="h-screen pt-16 w-full h-webkit- antialiased dark:[color-scheme:dark]">
	
  </nav>
	<!-- Nav se cargará dinámicamente 
    <div id="nav-container"></div></nav>-->
    
    <main>
		<nav id="navbar" class="fixed top-0 right-0 left-0 bg-indigo-700 h-16"></nav>
        <div class="dashboard-header">
            <h1>Panel de Administración</h1>
            <p>Bienvenido al sistema de gestión educativa</p>
        </div>
        <div class="dashboard-cards">
            <div class="card" onclick="window.location.href='../modules/pago/pagos.html'">
                <i class="fas fa-money-bill-wave"></i>
                <h3>Gestionar Pagos</h3>
                <p>Administra los pagos de estudiantes</p>
            </div>

            <div class="card" onclick="window.location.href='../modules/leccion/leccion.html'">
                <i class="fas fa-chalkboard-teacher"></i>
                <h3>Gestionar Unidades</h3>
                <p>Asigna y revisa Unidades</p>
            </div>

            <div class="card" onclick="window.location.href='../modules/tarea/tareas.html'">
                <i class="fas fa-tasks"></i>
                <h3>Gestionar Tareas</h3>
                <p>Asigna y revisa tareas</p>
            </div>
            <!--<div class="card" onclick="window.location.href='../modules/usuarios.html'">
                <i class="fas fa-users"></i>
                <h3>Gestionar Usuarios</h3>
                <p>Administra usuarios del sistema</p>
            </div>-->
            <!--<div class="card" onclick="window.location.href='/modules/cursos.html'">
                <i class="fas fa-book"></i>
                <h3>Gestionar Forros</h3>
                <p>Administra los forros disponibles</p>
            </div>-->
        </div>
        <footer class="footer">
            <div class="footer-content">
            <p>© <span id="2025"></span> Oh là là Club. Todos los derechos reservados.</p>
        </div>
</footer>
    </main>
	<script src="js/dashboard.js"></script>
	<script src="/components/nav.js"></script>
</body>
</html>